$color-main:#ffff00
// logo和導覽列
#logo img{
    width: 80px;
}
.navbar{
    background-color: #fff!important;
    border-top:1px solid $color-main;
}
// 輪播
.carousel img{
    height: 70vh;
    object-fit:cover;
}
.pic img{
    height: 80vh;
    object-fit: cover;
  
  }
// footer
footer{
    background-color: #eee;
    .footer1 img{
        width: 80px;
    }
    .footer2{
        padding-top:10px;
    }
    .footer2 h4{
        font-size: 14px;
        letter-spacing: 2px;
    }
    .footer3 img{
        width: 40px;
    }
}
// 麵包屑
.breadcrumb a{
    text-decoration: none;
}
// 關於
#about{
    background-color: #ffffdd;
    letter-spacing: 3px;
    padding: 30px 0;

    h2{
    text-align: center;
    font-size: 20px;
    font-weight: 800;
  }
}
